html,
body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
/* 293241 dark
  3d5a80 blue
  98c1d9 light
*/
.editDelete {
  float: right;
  margin: 3px;
  padding: 3px 10px;
}
#png {
  margin-right: 10px;
}
#form1 {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 4px 4px 9px #ffffff;
  margin: 20px 193px;
}
#table {
  border-radius: 10px;
  background-color: #ffffff;
  /* background-image: linear-gradient(to bottom right, #c7e9fd, #3d5a80); */
  /*box-shadow: 4px 4px 9px #b8b8b8;*/
}
#submitBtn {
    width: 140px;
    background-color: #1C1C1C;
    border-color: #1C1C1C;
    color: white;
}
.topBtn {
    background-color: white;
    border-color: white;
    color: #1C1C1C;
}
#navigation {
  background-color: #1C1C1C;
}
#categoryBtn {
  background-color: #1C1C1C;
  width: auto;
  border-radius: 7px;
  border: none;
  color: white;
}
#category {
  width: 300px;
}
.input-group-text {
  background-color: #1C1C1C;
  color: white;
  border: none;
}
#description {
  width: 2000px;
}

.trStyle {
  background-color: transparent;
}
#categoryBtn:hover,
#submitBtn:hover,
.editDelete:hover {
    background-color: #E6E6E6;
    color: black;
    border-color: black;
}
.topBtn:hover {
    background-color: #E6E6E6;
    color: black;
    border-color: #E6E6E6;
}
.editDelete {
    background-color: black;
    border: none;
}